* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


body {
    margin: 8%;
    background-color: #f2f4f6;
    /* background-image:url('/e_learning/imgs/slider/13.jpg'); */
}

div.login-form {
    width: 450px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
    /* position: absolute;             */
    /* top: 28%;  
    left: 33%; */
    margin: auto;
    /* background-image:url('/e_learning/imgs/slider/14.jpg'); */
}

    div.login-form h2 {
        text-align: center;
        background-color: #204969;
        padding: 12px 0px;
        color: white;
    }

    div.login-form form {
        padding: 30px;
    }

.login-form form .input-field {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

    .login-form form .input-field i {
        color: darkslategray;
        padding: 10px;
        background-color: #f2f4f6;
        margin-right: 4px;
    }

    .login-form form .input-field input {
        background-color: #f2f4f6;
        padding: 10px;
        border: none;
        width: 100%;
        padding-left: 15px;
        outline: none;
    }
#username {
    background-color: #f2f4f6;
    padding: 10px;
    border: none;
    width: 100%;
    padding-left: 15px;
    outline: none;
}

#password {
    background-color: #f2f4f6;
    padding: 10px;
    border: none;
    width: 100%;
    padding-left: 15px;
    outline: none;
}

#loginBtn {
    width: 100%;
    background-color: #F76536;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 10px 0px;
    transition: background-color 0.4s;
    cursor: pointer;
}

    #loginBtn:hover {
        background-color: #41b6e6;
    }

.login-form form .extra {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .login-form form .extra a:first-child {
        color: darkgrey;
    }

    .login-form form .extra a:last-child {
        color: grey;
    }
